/* 
font-family: 'Aleo', serif;
font-family: 'Muli', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    --theme1: #fb542b;
    --theme: white;
    --color: #202124;
    --shadow: rgba(0, 0, 0, .2);
    --shadow2: rgba(239, 239, 239, 0.2);

}

body {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color);
    background: var(--theme);
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    transition-duration: 300ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg {
    position: fixed;
    width: 100vh;
    height: 100vh;
    background: var(--theme);
    top: 0;
    left: 0;
    z-index: -1;
    transition-duration: 300ms;

}

fieldset {
    width: 100%;
    border: none;
}

legend {
    font-family: 'Aleo', serif;
    font-size: medium;
    color: gray;
}

.theme-changer {
    position: relative;
    display: block;
    z-index: 3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: 20px;
    bottom: -150px;
    margin-bottom: 10px;
    margin-top: -20px;
    cursor: pointer;
    transition-duration: 300ms;
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.theme-changer span {
    width: 200px;
    position: absolute;
    margin-left: 44px;
    margin-top: 6px;
}

.night {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.night::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    left: 10px;
    background: #202124;
}

.sec-holder,
.act {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    user-select: auto;
}

.act {
    right: 0;
    width: auto;
}

h2 {
    font-size: xx-large;
    color: var(--color);
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px auto 26px auto;
}

::selection {
    background: var(--theme1);
    color: white;
}

.strength {
    display: block;
    height: 10px;
    border-radius: 0 0 6px 10px;
    width: calc(100% + 30px);
    background: rgb(241, 155, 43, .3);
    transform: translate(-15px, 10px);
    transition-duration: 0;
}

.strength-indicator {
    display: block;
    height: 10px;
    border-radius: 0 10px 10px 10px;
    width: 12%;
    background: rgb(241, 155, 43);
    transition-duration: 500ms;
}

section,
main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 92%;
    max-width: 900px;
    font-size: 28px;
    padding: 20px 16px;
    border-radius: 5px;
    background: var(--theme);
    color: inherit;
    box-shadow: 0 2px 8px var(--shadow);
    padding: 10px 15px 10px 15px;
    margin: auto;
    margin-bottom: 25px;
}

img {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-left: 10px;
}

.copy,
.generate {
    cursor: pointer;
    transition-duration: 200ms;
    transform-origin: 50% 46%;
}

.copy>span {
    position: absolute;
    display: none;
    padding: 4px 8px 4px 8px;
    background: #c8c8c8;
    border-radius: 10px;
    transform: translate(-44px, -44px);
    font-size: 20px;
    transition-duration: 300ms;
}

.copy:hover>span {
    display: inline;
}

.copy,
.generate:active {
    transform: scale(0.86);
}

.generate>span {
    position: absolute;
    display: none;
    padding: 4px 8px 4px 8px;
    background: #c8c8c8;
    border-radius: 10px;
    font-size: 18px;
    transform: translate(-44px, -44px);
    transition-duration: 900ms;
}

.generate:hover>span {
    display: inline;
}


.viewer {
    height: auto;
    width: 100%;
    margin: auto -6px auto 10px;
    color: var(--theme2);
    font-size: 22px;
    border: none;
    outline: none;
    background: inherit;
    font-family: 'Montserrat', sans-serif;
}


main {
    display: block;
    background: var(--theme);
    font-size: 20px;
    justify-content: space-between;
    padding: 18px;
}

.main1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}

h3 {
    width: 100%;
    font-size: 1.2em;
    padding-bottom: 16px;
    margin-bottom: -4px;
    border-bottom: 2px solid rgba(200, 200, 200, .8);
    font-family: 'Aleo', serif;
    letter-spacing: 2px;
}

.slide,
.slide-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.slide {
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.slide-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.shortcuts {
    display: flex;
    width: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 6px;
    font-family: monospace;
}

.boxes {
    padding: 10px 16px 10px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 8px var(--shadow);
    background: var(--theme);
    color: var(--color);
    cursor: pointer;
    margin: 5px;
}

.box1,
.box2 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* margin-bottom: 8px; */
}

.boxes:active {
    transform: scale(.88);
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type='number'] {
    padding: 8px;
    border-radius: 5px;
    font-size: large;
    width: 70px;
    text-align: center;
    border: none;
    outline: none;
    margin: 8px;
    margin-right: 18px;
    border: 1px solid #c8c8c8;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
    background: var(--theme);
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
}

input[type='number']:focus {
    border: 2px solid cyan;
}

#myRange {
    appearance: none;
    -webkit-appearance: none;
    /* min-width: 210px; */
    width: 100%;
    max-width: 200px;
    margin: 20px 0 20px 0;
    margin-left: -6px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 550px;
    height: 8px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: linear-gradient(to right, #fb542b 0%, #fb542b 10%, gray 10%, gray 100%);
    transition-duration: 300ms;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--theme1);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--theme1);
    cursor: pointer;

}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 2px 8px var(--theme1);
}

.order,
.type {
    font-size: 0.8em;
}

.order label {
    cursor: pointer;
}

#c_f {
    margin-top: 10px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -10px;
}

/* checkbox */
input[type="checkbox"] {
    position: relative;
    height: 26px;
    width: 46px;
    background-color: #c6c6c6;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5pxvar(--shadow);
    transition: .6s;
    transform: translateY(16px);
    margin: 10px;
    margin-right: 8px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: var(--theme1);
}

input[type="checkbox"]:before {
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    transition: .4s;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, .5);
    background: #fff;
}


input[type="checkbox"]:checked:before {
    left: 22px;
}

/* The container */
.type {
    margin-top: 40px;
}

.container {
    display: block;
    position: relative;
    padding-left: 34px;
    /* margin-left: 10px; */
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 20px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5pxvar(--shadow);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5.5px;
    left: 5.5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fb542b;
}

button {
    background: var(--theme1);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 34px;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    box-shadow: 0 2px 8pxvar(--shadow);
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
}


button:active {
    transform: scale(0.87);
}

.copy-holder {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
    background: transparent;
}

.copied {
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 24px;
    border-radius: 25px;
    font-size: large;
    box-shadow: 0 2px 8pxvar(--shadow);
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    margin: auto;
    background: #c8c8c8;
    color: black;
    transition-duration: 300ms;
    margin-top: 20px;
}

.an-copy {
    animation: jump 1s ease-in;
    display: block;
    opacity: 0;
}

@keyframes jump {
    0% {
        opacity: 0;
        margin-top: 20px;
    }

    30% {
        opacity: .7;
        margin-top: 50px;
    }

    80% {
        opacity: .7;
        margin-top: 50px;
    }

    100% {
        opacity: 0;
        margin-top: 20px;
    }
}


@media only screen and (min-width: 760px) {
    .main1 {
        flex-direction: row;
    }

    section,
    main {
        margin: 44px auto 44px auto;
    }

    .theme-changer {
        position: absolute;
        left: 16px;
        top: 26px;
    }

    .theme-changer span {
        display: none;
    }

    input {
        font-size: 1em;
    }
}